.select-gender {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__button {
        flex: 50%;
        cursor: pointer;
        color: #fff;
        font-size: 40px;

        &--boy {
            background-color: #6FE8FF;
        }

        &--girl {
            background-color: #FFAEF0;
        }
    }
}
