@import '../../../variables';

.select-gender-button {
    cursor: pointer;
    border: 0;
    outline: none;
    color: #fff;
    height: 100%;
    width: 100%;

    &--boy {
        background-color: $boy;
    }

    &--girl {
        background-color: $girl;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s;
    }

    &__title {
        color: #fff;
        font-size: 50px;
    }

    &__icon {
        font-size: 40px;
        opacity: 0;
        transition: opacity 0.3s;
        margin-left: -40px;
        margin-right: 16px;
    }

    &:hover,
    &:focus {
        .select-gender-button {
            &__inner {
                transform: scale(1.1)
            }
            &__icon {
                opacity: 1;
            }
        }
    }
}
