.select-gender {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    &__button {
        flex: 50%;
        cursor: pointer;
        color: #fff;
        font-size: 40px;
        border: 0;
        outline: none;

        &--boy {
            background-color: #6FE8FF;
        }

        &--girl {
            background-color: #FFAEF0;
        }
    }
}
