<div class="disliked-names">
    <mat-card>
        <mat-card-title>
            <span [matBadge]="blacklist && blacklist.length" matBadgeColor="warn" matBadgeOverlap="false" [matBadgeHidden]="!blacklist || blacklist.length === 0">Disliked names</span>
        </mat-card-title>
        <mat-card-content>
            <p *ngIf="blacklist && blacklist.length > 0">Names in this list won't reappear when selecting names.</p>
            <mat-list>
                <mat-list-item *ngFor="let name of blacklist | reverse">
                    <h4 mat-line>{{name.name}}</h4>
                    <div>
                        <button type="button" class="delete-button" (click)="onDeleteClicked(name)">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>

            <div *ngIf="!loading && blacklist.length === 0">You haven't disliked any names yet!</div>
        </mat-card-content>
    </mat-card>
</div>
