.sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__sidenav {
        width: 150px;
    }

    .sidenav-link {
        &--active {
            background-color: rgba(0,0,0,.04);
        }
    }

    .logo {
        outline: none;

        &__img {
            height: 60px;
            margin: 8px auto 0 auto;
            display: block;
        }
    }
}

.sidenav-content {
    &__toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 1;
        color: #fff;
    }
}

.vote-link {
    position: absolute;
    bottom: 16px;
    width: 100%;
}
