@import '../../../variables';

.sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__sidenav {
        width: 200px;

        @media (min-width: 600px) {
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }
    }

    .sidenav-link {
        &--active {
            background-color: rgba(0,0,0,.04);
        }
    }

    .logo {
        outline: none;

        &__img {
            height: 60px;
            margin: 16px auto 0 auto;
            display: block;
        }
    }
}

.sidenav-content {
    &__toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        left: 12px;
        z-index: 1;
        color: #fff;
        outline: none;

        i {
            font-size: 35px;
        }
    }

    &--boy {
        background-color: $boy;
    }
    &--girl {
        background-color: $girl;
    }
}

.vote-link {
    position: absolute;
    bottom: 16px;
    width: 100%;
}
