.name-card {
    color: #fff;
    margin: 0 auto;
    max-width: 300px;
    min-width: 100%;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;

    &__name {
        font-size: 46px;
    }
    &__desc {
        font-size: 16px;
        margin: 16px 0 22px 0;
    }

    &__button-container {
        display: flex;

        button {
            flex: 1;
        }
    }

    .dislike-button {
        margin-right: 16px;
    }
}
