<div class="name-picker"
    [ngClass]="{'name-picker--boy': gender === 'M', 'name-picker--girl': gender === 'F'}">
    <name-card
        *ngIf="currentName"
        [name]="currentName"
        [onLikeClicked]="onLikeClicked"
        [onDislikeClicked]="onDislikeClicked">
    </name-card>

    <div>
        <div>Dislike</div>
        <ul>
            <li *ngFor="let name of blacklist">{{name.name}}</li>
        </ul>
    </div>
    <div>
        <div>Like</div>
        <ul>
            <li *ngFor="let name of whitelist">{{name.name}}</li>
        </ul>
    </div>

    <mat-progress-spinner
        *ngIf="!currentName"
        color="primary"
        mode="indeterminate"
        diameter="60">
    </mat-progress-spinner>
</div>
