<div class="name-card">
    <div *ngIf="name">
        <div class="name-card__name">{{name.name}}</div>
        <div class="name-card__desc">{{name.count}} babies were registered with this name in 2017 (US)</div>

        <div class="name-card__button-container">
            <button type="button" (click)="onDislikeClicked()" mat-raised-button class="dislike-button">Dislike</button>
            <button type="button" (click)="onLikeClicked()" mat-raised-button color="primary">Like</button> 
        </div>
    </div>
</div>
