@import '../../../variables';

.live {
    padding: 16px;
    margin-top: 44px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    mat-list-item {
        border-top: 1px solid #ecebeb;
        background-color: #fff;
        opacity: 0.2;

        &:first-child {
            border-top: 0;
            opacity: 1;
        }

        h4 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .boy-icon {
            color: $boy;
        }

        .girl-icon {
            color: $girl;
        }
    }

    &__icon {
        color: red;
        font-size: 22px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
