<div class="live">
    <mat-card>
        <mat-card-title class="live__header">
            <span>Live events</span>
            <i class="material-icons blink live__icon">fiber_manual_record</i>
        </mat-card-title>
        <mat-card-content>
            <p>This is a live feed of events from other users of the app.</p>
            <mat-list>
                <mat-list-item *ngFor="let event of events | reverse">
                    <h4 mat-line>
                        <span>{{event.name.name}}</span>
                        <i class="material-icons" [ngClass]="{'boy-icon': event.name.gender === 'M', 'girl-icon': event.name.gender === 'F'}">{{event.action === 'like' ? 'favorite' : 'thumb_down'}}</i>
                    </h4>
                </mat-list-item>
            </mat-list>

            <div *ngIf="events.length === 0">No event received yet</div>
        </mat-card-content>
    </mat-card>
</div>
