@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: "'Roboto Slab', serif"
);

@include angular-material-typography($custom-typography);

body,
html {
    margin: 0;
}

body,
html,
button {
    font-family: 'Roboto Slab', serif;
    color: #333;
}

.mat-badge-content {
    font-weight: normal;
}

.sidenav-container__sidenav {
    .mat-list-item-content {
        justify-content: center;
    }
}
