@import './theme.scss';

body,
html {
    margin: 0;
}

body,
html,
button {
    font-family: 'Roboto Slab', serif;
    color: #333;
}

.mat-badge-content {
    font-weight: normal;
}

.mat-badge {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    align-items: center;
    margin-right: 0 !important;
}

.mat-badge-content {
    position: static !important;
}

.sidenav-container__sidenav {
    .mat-list-item-content {
        justify-content: center;
    }
}

.delete-button {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    padding: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
    outline: none;
    cursor: pointer;

    i {
        font-size: 16px;
    }

    &:hover {
        background-color: #e8e8e8;
    }

    @media (min-width: 600px) {
        pointer-events: none;
        opacity: 0;
    }
}

.rounded-button {
    border-radius: 20px !important;
    .mat-button-ripple {
        border-radius: 20px !important;
    }
}
