@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: "'Roboto Slab', serif"
);

@include angular-material-typography($custom-typography);

body,
html {
    margin: 0;
}

body,
html,
button {
    font-family: 'Roboto Slab', serif;
    color: #333;
}

.mat-badge-content {
    font-weight: normal;
}

.sidenav-container__sidenav {
    .mat-list-item-content {
        justify-content: center;
    }
}


.delete-button {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    padding: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
    pointer-events: none;
    opacity: 0;
    outline: none;
    cursor: pointer;

    i {
        font-size: 16px;
    }

    &:hover {
        background-color: #e8e8e8;
    }
}
