@import '~@angular/material/theming';

@include mat-core();

$girl-theme-primary: mat-palette($mat-pink, A200, A100, A400);
$girl-theme-accent: mat-palette($mat-red, A200, A100, A400);
$girl-theme-warn: mat-palette($mat-red);
$girl-theme: mat-light-theme($girl-theme-primary, $girl-theme-accent, $girl-theme-warn);
@include angular-material-theme($girl-theme);

.boy-theme {
    $boy-theme-primary: mat-palette($mat-blue);
    $boy-theme-accent: mat-palette($mat-red, A200, A100, A400);
    $boy-theme-warn: mat-palette($mat-red);
    $boy-theme: mat-light-theme($boy-theme-primary, $boy-theme-accent, $boy-theme-warn);
    @include angular-material-theme($boy-theme);
}

$custom-typography: mat-typography-config(
  $font-family: "'Roboto Slab', serif"
);
@include angular-material-typography($custom-typography);
