<div class="liked-names">
    <mat-card>
        <mat-card-title>
            <span [matBadge]="whitelist && whitelist.length" matBadgeOverlap="false" [matBadgeHidden]="!whitelist || whitelist.length === 0">Liked names</span>
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let name of whitelist">
                    <h4 mat-line>{{name.name}}</h4>
                    <div>
                        <button type="button" class="delete-button" (click)="onDeleteClicked(name)">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>

            <div *ngIf="!loading && whitelist.length === 0">You haven't liked any names yet!</div>
        </mat-card-content>
    </mat-card>
</div>
